<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{name}}

        <h1 v-text='str'></h1>
        <div v-html='str'></div>
        <div>{{str}}</div>

        <input type="text" v-model='name'>

        <ul>
            <li v-for='i in 5'>{{i}}</li>
        </ul>

        <div v-show='true'>v-show</div>
        
        <div v-if='true'>v-if</div> <!-- 这俩必须挨着 -->
        <div v-else>v-else</div> <!-- 这俩必须挨着 -->
    </div>
</body>
</html>
<script src="./node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el:'#app',
        data:{
            name:'dxd',
            str:'<h2>123</h2>'
        }
    })
</script>